*{
    font-family: nunito;
}
.p-5 img[src*="Logomark2"]{
    background-color: #84CC16;
    padding: 1rem;
    border-radius: 30px;
    box-shadow: 0px 16px 32px 0px rgba(132, 204, 22, 0.25); 
}
#mockup{
    margin-top: -1rem;
    margin-right: -7rem;    
}
.p-5 img[src*="Solid"]{
    background-color: white;
    padding: 1rem;
    border-radius: 30px;
    box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05);  

}
#span{
   color: #84CC16; 
   font-weight: bolder;
   font-size: 90px;
   font-style: normal;
    line-height: 68px;
    letter-spacing: -1.8px; 
   
}
img[src*="Monotone"]{
    padding-right: 0.5rem;
}
/****************************************** main***********/
#img1{
    background-image: url(../css/IMG/BGbg.png);
    background-color: linear-gradient(to right,white 50%, lightgray 50%);
    background-position-x:right;
    background-repeat: no-repeat; 
}
#first{
    padding: 2rem;
}
.col-lg-5 h3{
    font-size: 50px;
    font-style: normal;
    font-weight: bolder;
    line-height: 113%; /* 113.333% */
}
.col-lg-5 p{
    color: var(--osler-gray-60, #647067);
    /* Paragraph/2xl */
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 38.4px */
    letter-spacing: -0.24px; 
}
.col p .col-m-1 p{
    /* Label/md */
    font-size: 10px;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
    letter-spacing: 1.4px;
    text-transform: uppercase;
     
}
#down{
    margin-top: 2.5rem;
    border-radius: 24px;
    background: #2F3C33;
    height: 64px;
    padding: 24px 74px;
    margin-left: -4rem;
    text-decoration: none;
    color: var(--osler-gray-white, #FFF);
    /* Text lg/ExtraBold */
        font-family: Nunito;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        letter-spacing: -0.36px;
}
.down{
    margin-top: 2.5rem;
    margin-left: 11.5rem;
}
#img1{
    position: relative;
}
div .img-fluid{
    position: absolute;
    margin-right: -3rem;
    margin-top: 10rem;
}
/************************IMG of first section**************/
#img1 .AI{
    position: absolute;
    border-radius: 32px;
    background: var(--healing-green-50, #84CC16);
    box-shadow: 0px 16px 32px 0px rgba(132, 204, 22, 0.25);
    padding: 0.8rem;
    margin-top: 13rem;
    margin-right: -30rem;

}
#img1 .AI h5{
    color: var(--osler-gray-white, #FFF);
/* Text sm/Bold */
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.14px;
}
#img1 .AI p{
    color: var(--osler-gray-white, #FFF);
/* Text 2xl/ExtraBold */
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.48px;
}
#img1 .AI span{
    color: var(--healing-green-30, #BEF264);
/* Text sm/SemiBold */
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.14px;
}
/********************************IMG chart nutrition*******/
#img1 .nutrition{
    position: absolute;
    border-radius: 32px;
    background: var(--osler-gray-white, #FFF);
    padding: 0.7rem;
    margin-top: 29rem;
    margin-right: -30rem;
}
#img1 .nutrition h3{
    color: var(--osler-gray-80, #2F3C33);
/* Text sm/Bold */
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.14px;
    position: relative;
}
#img1 .nutrition img[src*="apple"]{
    position: absolute;
    margin-left:0.5rem;

}
#img1 .nutrition p{
    color: var(--osler-gray-80, #2F3C33);
    /* Text 2xl/ExtraBold */
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.48px;
}
#img1 .nutrition span{
    color: var(--healing-green-30, #2F3C33);
/* Text sm/SemiBold */
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.14px;
}
/************************************img doctor chart***********************/
#img1 .doctor{
    position: absolute;
    width: 387px;
    padding:5px;
    border-radius: 32px;
    background: var(--osler-gray-white, #FFF);
/* Card Shadow Gray80 5% */
    box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05);
    margin-top: 29rem;
    margin-left: -27rem;
}
#img1 .doctor .col-5{
    width: 28%;
}
#img1 .doctor .doc{
    padding: 1rem;
    border-radius: 30px;
}
#img1 .doctor .col-7{
    position: relative;
    margin-top: 1rem;
}
#img1 .doctor .col-7 h5{
    color: var(--osler-gray-80, #2F3C33);
/* Text md/ExtraBold */
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.32px;
}
#img1 .doctor .col-7 h6{
    color: var(--osler-gray-60, #647067);
    /* Text xs/Bold */
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.77px;
}
#img1 .doctor img[src*="Solid chevron right sm.svg"]{
    position: absolute;
    margin-left: 3rem;

}
#img1 .doctor img[src*="Solid location.svg"]{
    margin-left: 1rem;
}
#img1 .doctor .col-7 span{
    position: absolute;
    margin-left: 0.3rem;
    font-size: 2rem;
    margin-top: -1.2rem;
}
#img1 .doctor .col-7 p{
    display: inline;
    margin: 0.5rem;
    color: var(--osler-gray-80, #2F3C33);
/* Text xs/ExtraBold */
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.12px;
}
#img1 .doctor .col-7 span{
    color: #647067;
    position: absolute;
}

.scroll{
    position: relative;
}
#scroll{
    position: absolute;
    color: var(--osler-gray-80, #2F3C33);
/* Label/sm */
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.2px;
    text-decoration: none;
    margin-top: 9rem;
    border-radius: 12px;
    background: var(--osler-gray-10, #F5F5F5);
    
}


/********************************section1*******************/
.section1{
    margin: 2rem;
    border-radius: 180px;
    background: var(--osler-gray-80, #2F3C33);

}
.col .mission{
    width: 9rem;
    padding: 0.5rem;
    border-radius: 25px;
    background: var(--healing-green-50, #84CC16);
    padding: 1rem;
   
}
.col .mission a{
    color: var(--osler-gray-white, #FFF);
    text-align: right;
    /* Text md/Bold */
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.32px;
    text-decoration: none;
    border-radius: 18px;
   
}

.quality .quality1{
    color: var(--osler-gray-white, #FFF);
    /* Heading lg/ExtraBold */
    font-family: Nunito;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px; /* 116.667% */
    letter-spacing: -1.44px;
}
.quality, .mission1{
    margin-top: 5rem;
    margin-right: 5rem;
}
.mission1 p{
    margin-top: 1rem;
    color: var(--osler-gray-20, #E3E4E3);
/* Paragraph/xl */
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 32px */
    letter-spacing: -0.2px; 
}
#meta{
    padding: 6rem;
}

/********************section2******************************/


.section2{
    border-radius: 180px;
    background: var(--healing-green-50, #84CC16); 
    padding: 128px 118px;
}
.section2 .row{
    margin-bottom: 4rem;
}
.section2 .row h1{
    color: var(--osler-gray-white, #FFF);
    text-align: center;
    /* Heading lg/ExtraBold */
    font-family: Nunito;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px; /* 116.667% */
    letter-spacing: -1.44px; 

}
.section2 .container .row .col-8{
    border-radius: 64px;
    padding: 48px;
    background: var(--osler-gray-white, #FFF);
    /* Card Shadow Gray80 5% */
    box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05);
    margin-top: 1rem;
}
.section2 .container .row .col-8 h2{
    color: var(--osler-gray-80, #2F3C33);
    /* Heading 2xl/ExtraBold */
    font-family: Nunito;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: 80px; /* 111.111% */
    letter-spacing: -2.16px;
}
.section2 .container .row .col-8 span{
    color: var(--healing-green-50, #84CC16);
/* Heading 2xl/ExtraBold */
    font-family: Nunito;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: 80px;
    letter-spacing: -2.16px;
}
.section2 .container .row .col-8 p{
    color: var(--osler-gray-80, #2F3C33);
/* Heading xs/SemiBold */
    font-family: Nunito;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 133.333% */
    letter-spacing: -0.72px;
}

/***************************************section3***************************************/

.section3{
    border-radius: 180px;
    background: var(--osler-gray-10, #F5F5F5);
    padding: 6rem;

}
.section3, .container, .row, .col, h1{
    color: var(--osler-gray-80, #2F3C33);
    /* Heading xs/ExtraBold */
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.72px;
}
.section3 .total{
    border-radius: 18px;
    border: 1px solid var(--osler-gray-60, #647067);
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.32px;
    padding: 0.5rem;
}
.section3, h5{
    color: var(--osler-gray-80, #2F3C33);
    /* Label/lg */
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.6px;
    margin-top: 2rem;
   
}
.section3, h6{
    color: var(--osler-gray-80, #2F3C33);
/* Heading xs/ExtraBold */
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.72px;
}
.section3, p{
    color: var(--osler-gray-60, #647067);
    /* Paragraph/xl */
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 32px */
    letter-spacing: -0.2px;
}
.section3 img[src*="stetoschope.svg"]{
    border-radius: 30px;
    background: var(--healing-green-10, #ECFCCB);
    height: 5rem;
    padding: 1rem;

}
.section3 img[src*="calendar.svg"]{
    border-radius: 30px;
    background: var(--remote-red-10, #FFE4E7);
    height: 5rem;
    padding: 1rem;

}
.section3 .col-10{
    padding: 32px;
    margin-bottom: 1rem;
    gap: 48px;
    border-radius: 64px;
    background: var(--osler-gray-white, #FFF);
    /* Card Shadow Gray80 5% */
    box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05);

}
.section3 img[src*="folder.svg"]{
    border-radius: 30px;
    background: var(--remote-red-10, #F5F5F5);
    height: 5rem;
    padding: 1rem;

}
.section3 img[src*="bag (2).svg"]{
    border-radius: 30px;
    background: var(--remote-red-10, #FFF);
    height: 5rem;
    padding: 1rem;

}
.section3 h3{
    border-radius: 24px;
    background: var(--osler-gray-80, #2F3C33);
    color: var(--osler-gray-white, #FFF);
/* Text lg/ExtraBold */
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.36px;
    padding: 16px 32px;
}
.section3 h3 img{
    padding-left: 1rem;
}
.section3 img[src*="arrow.svg"]{
    margin-top: 2rem;
}

/************************************section4***************************************/

.section4 h1{
    color: var(--osler-gray-80, #2F3C33);
    text-align: center;
    /* Heading xl/ExtraBold */
    font-family: Nunito;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: 68px; /* 113.333% */
    letter-spacing: -1.8px;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.section4 h6{
    color: var(--osler-gray-60, #647067);
    text-align: center;
    /* Text md/Bold */
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.32px;
    display: inline;
    border-radius: 18px;
    border: 1px solid var(--osler-gray-60, #647067);
    padding: 0.5rem 0.5rem;
}

.section4 h2{
    color: var(--osler-gray-80, #2F3C33);
    /* Heading lg/ExtraBold */
    font-family: Nunito;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px; /* 116.667% */
    letter-spacing: -1.44px;
    margin-top: 3rem;
    margin-bottom: 2rem;
} 

.section4 p{
    color: var(--osler-gray-60, #647067);
    /* Paragraph/lg */
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 28.8px */
    letter-spacing: -0.18px; 
}

.section4 h4{
    color: var(--osler-gray-80, #2F3C33);
    /* Heading sm/ExtraBold */
    font-family: Nunito;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 38px; /* 126.667% */
    letter-spacing: -0.9px;
}
.section4 span{
    color: var(--remote-red-50, #F43F5E);
    /* Heading sm/ExtraBold */
    font-family: Nunito;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 38px;
    letter-spacing: -0.9px;
}
.section4 h5{
    color: var(--osler-gray-60, #647067);
    /* Text lg/Bold */
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.36px;
    margin-top: 0rem;
}

.section4 h3{
    color: var(--osler-gray-white, #FFF);
    /* Text lg/ExtraBold */
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.36px;
    border-radius: 24px;
    background: var(--osler-gray-80, #2F3C33);
    display: inline;
    padding: 1rem;
}
.section4 a[href*="#"]{
    text-decoration: none;
}

.section4 img[src*="tel1.png"]{
    width: 27rem;
}

.section4 .download{
    margin-top: 2rem;
    
}
.section4 .download img[src*="Solid arrow right sm (1).svg"]{
    padding-left: 1rem;
}

.section4 img[src*="tel2.png"]{
    width: 27rem;
}
.section4 .span1{
    color: var(--osler-gray-60, #647067);
    /* Heading xs/ExtraBold */
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 32px;
    letter-spacing: -0.72px;
}
.section4 .saved{
    margin-left: 10rem;
}
.section4 img[src*="calendar section4.svg"]{
    padding-left: 1rem;
}

.section4 img[src*="Solid arrow right sm (2)"]{
    padding-left: 1rem;
}

.section4 .checkbox h4{
    color: var(--osler-gray-70, #48524B);
    /* Text lg/ExtraBold */
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.36px;
}

.section4 img[src*="tel3.png"]{
    width: 27rem;
    display: flex;
    justify-content: end;
    
}
.section4 .col-9{
    display: flex;
    justify-content: end;
}

/****************************************************section5******************/

.container-fluid .section5{
    border-radius: 180px;
    background: var(--healing-green-50, #84CC16);
    padding: 1rem;

}

.container-fluid .section5 h5{
    border-radius: 18px;
    border: 1px solid var(--osler-gray-white, #FFF);
    padding: 0.5rem;
    color: var(--osler-gray-white, #FFF);
    text-align: center;
    /* Text md/Bold */
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.32px;
}

.container-fluid .section5 h1{
    color: var(--osler-gray-white, #FFF);
    text-align: center;
    /* Heading xl/ExtraBold */
    font-family: Nunito;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 68px; /* 113.333% */
    letter-spacing: -1.8px;
}

.container-fluid .section5 .row .col{
    border-radius: 64px;
    background: var(--osler-gray-white, #FFF);
    /* Card Shadow Gray80 5% */
    box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05);
    padding: 2rem;
    width: 18rem;
    margin: 2rem;
}
.container-fluid .section5 .row .col h2{
    color: var(--osler-gray-90, #1E2721);
    /* Heading xs/ExtraBold */
    font-family: Nunito;
    font-size: 19px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.72px;
    align-self: stretch;
    text-align: left;
    
}
.container-fluid .section5 .row .col p{
    color: var(--osler-gray-60, #647067);
    /* Paragraph/xl */
    font-family: Nunito;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 32px */
    letter-spacing: -0.2px;
    text-align: left;
}
.container-fluid .section5 .row img[src*="bolb section5.svg"]{
    display: flex;
    justify-content: start;
    margin-bottom: 1rem;
    border-radius: 18px;
    background: var(--healing-green-10, #ECFCCB);
    padding: 1rem;
}
.container-fluid .section5 img[src*="bolb section5.svg"]{
    width: 3rem;
}

.container-fluid .section5 .row img[src*="chart section5.svg"]{
    display: flex;
    justify-content: start;
    margin-bottom: 1rem;
    border-radius: 18px;
    background: var(--remote-red-10, #FFE4E7);
    padding: 1rem;
}
.container-fluid .section5 img[src*="chart section5.svg"]{
    width: 3rem;
}

.container-fluid .section5 .row img[src*="plus section5.svg"]{
    display: flex;
    justify-content: start;
    margin-bottom: 1rem;
    border-radius: 18px;
    background: var(--connectivity-blue-10, #EFF6FF);
    padding: 1rem;
}
.container-fluid .section5 img[src*="plus section5.svg"]{
    width: 3rem;
}

.container-fluid .section5 .row img[src*="calen section5.svg"]{
    display: flex;
    justify-content: start;
    margin-bottom: 1rem;
    border-radius: 18px;
    background: var(--caring-violet-10, #EDE9FE);
    padding: 1rem;
}
.container-fluid .section5 img[src*="calen section5.svg"]{
    width: 3rem;
}
.container-fluid .section5 .row img[src*="cross section5.svg"]{
    display: flex;
    justify-content: start;
    margin-bottom: 1rem;
    border-radius: 18px;
    background: var(--osler-gray-10, #F5F5F5);
    padding: 1rem;
}
.container-fluid .section5 img[src*="cross section5.svg"]{
    width: 3rem;
}

.container-fluid .section5 .row img[src*="cloud section5.svg"]{
    display: flex;
    justify-content: start;
    margin-bottom: 1rem;
    border-radius: 18px;
    background: var(--healing-green-10, #ECFCCB);
    padding: 1rem;
}
.container-fluid .section5 img[src*="cloud section5.svg"]{
    width: 3rem;
}

.container-fluid .section5 h3{
    border-radius: 24px;
    background: var(--osler-gray-80, #2F3C33);
    color: var(--osler-gray-white, #FFF);
    /* Text lg/ExtraBold */
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.36px;
    padding: 1rem;
}
.container-fluid .section5 a{
    text-decoration: none;
}
.container-fluid .section5 h3 img{
    padding-left: 1rem;
}

/**********************************section6**********************/

.section6 .container{
    border-radius: 180px;
    background: var(--healing-green-20, #D9F99D);
    padding-left: 9rem;
    padding-right: 8rem;
    
   

}
.section6 img[src*="section6.png"]{
    width: 55rem;
    display: flex;
    justify-content: center;
}

.section6 h1{
    color: var(--osler-gray-80, #2F3C33);
    /* Heading xl/ExtraBold */
    font-family: Nunito;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 68px; /* 113.333% */
    letter-spacing: -1.8px;
}

.section6 h6{
    color: var(--osler-gray-80, #2F3C33);
    text-align: center;
    /* Text md/Bold */
    font-family: Nunito;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.32px;
    border-radius: 18px;
    border: 1px solid var(--osler-gray-80, #2F3C33);
    display: inline;
    padding: 0.5rem;

}

.section6 h3{
    color: var(--osler-gray-white, #FFF);
    /* Text lg/ExtraBold */
    font-family: Nunito;
    font-size: 13px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.36px;
    border-radius: 24px;
    background: var(--osler-gray-80, #2F3C33);
    padding: 0.5rem;
    padding-right: 2rem;
}
.section6 a{
    text-decoration: none;
}
.section6 img[src*="download.svg"]{

    padding-left: 1rem;
    width: 2rem;
}
footer.container-fluid {
    border-radius: 180px 180px 0px 0px;
    background: var(--osler-gray-80, #2F3C33);
    padding-top: 80px;
}
footer .desc [class*="col"] {
    color: var(--osler-gray-20, #E3E4E3);
    text-align: center;
    /* Paragraph/xl */
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.4; /* 32px */
    letter-spacing: -0.2px;
    margin-block: 30px;
}
.footNav {
    gap: 20px 0;
    margin-top: 20px;
} 
.footNav a {
    font-size: 40px;
    color: rgba(255, 255, 255, .5);
    text-decoration: none;
    font-weight: 600;
    position: relative;
    text-transform:capitalize;
}
.footNav a:nth-child(1)::before {
    content: "";
    width: 15px;
    height: 15px;
    background-color: #84CC16;
    border-radius: 3px;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.footNav a:hover {
    color: #fff;
}
.socialMedia a {
    position: absolute;
}
.socialMedia a:nth-child(1),
.socialMedia a:nth-child(2),
.socialMedia a:nth-child(3),
.socialMedia a:nth-child(4) {
    border-radius: 15px;
    border:1px solid #fff;
    padding: 5px;
}
.socialMedia a:nth-child(1) {
    left: 80px;
    top: 310px;
}
.socialMedia a:nth-child(2) {
    left: 80px;
    top: 365px;
}
.socialMedia a:nth-child(3){
    right: 80px;
    top: 310px;
}
.socialMedia a:nth-child(4) {
    right: 80px;
    top: 365px;
}
.addLinks {
    margin-top: 40px;
    margin-bottom: 20px;
}
.addLinks .col {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    gap: 10px 30px;
    align-content: center;
    flex-wrap: wrap;
}
.addLinks a {
    color: var(--osler-gray-white, #FFF);
    text-align: center;
    /* Label/sm */
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
}

.addLinks .bubb {
    width: 8px;
    height:8px;
    border-radius: 3px;
    background: var(--osler-gray-70, #48524B);
}
.addLinks a:hover {
    color:#84CC16;
}
.storeBtns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding-bottom: 20px;
    margin-top: 45px;
}
.storeBtns a {
    border-radius: 30px;
    background: var(--healing-green-50, #84CC16);

    display: flex;
    padding: 24px 32px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    color: #fff;
    text-decoration: none;
}
@media only screen and (max-width: 800px) {
    .socialMedia {
        margin-top: 30px;
        display: flex;
        gap: 10px;
            
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-count: 4;
    }
    .socialMedia a {
        position: relative;
    }
        
    .socialMedia a:nth-child(1),
    .socialMedia a:nth-child(2),
    .socialMedia a:nth-child(3),
    .socialMedia a:nth-child(4) {
        left: inherit;
        right: inherit;
        top: inherit;
    }
}